# Username and password of `ACL4SSR` section in `rules_config.conf`.
# If it points to a private repository on GitHub, it often needs a PAT (Private Access Token) with appropriate permission.
#
# Format of this file follows python-dotenv syntax. See: https://saurabh-kumar.com/python-dotenv/
#
# For other sections, follow such pattern:
# `RULES_CONFIG_<SECTION>_USERNAME`
# `RULES_CONFIG_<SECTION>_PASSWORD`
RULES_CONFIG_ACL4SSR_USERNAME=username
RULES_CONFIG_ACL4SSR_PASSWORD=password